.mob-preview {
    display: none;

    position: absolute;

    width: 280px;

    background: #2a2e33;
    border: 1px solid #54595d;
    border-radius: 8px;

    padding: 12px;

    z-index: 999999;

    pointer-events: none;

    box-shadow: 0 4px 12px rgba(0,0,0,0.4);
}

.preview-image {
    height: 140px;

    background: #24301f;

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 15px;
    box-sizing: border-box;

    margin-bottom: 10px;

    border-radius: 4px;
}

.preview-image img {
    max-width: 80%;
    max-height: 80%;

    object-fit: contain;
    image-rendering: pixelated;
}

.preview-title {
    font-size: 14px;
    color: white;

    margin-bottom: 8px;
}

.preview-description {
    color: #eaecf0;

    line-height: 1.4;
}