.wiki-preview {
    display: none;

    position: absolute;

    width: 420px;

    background: #2a2e33;
    border: 1px solid #54595d;
    border-radius: 8px;

    padding: 0;

    z-index: 999999;

    pointer-events: none;

    overflow: hidden;

    box-shadow: 0 4px 12px rgba(0,0,0,0.4);
}

.preview-layout {
    display: flex;
    min-height: 220px;
}

.preview-text {
    flex: 1;

    padding: 14px;

    display: flex;
    flex-direction: column;
}

.preview-title {
    font-size: 16px;
    font-weight: bold;

    color: white;

    margin-bottom: 10px;
}

.preview-description {
    color: #eaecf0;
    line-height: 1.5;

    overflow: hidden;
}

.preview-image {
    width: 180px;
    min-width: 180px;

    background: #24301f;

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 15px;

    box-sizing: border-box;

    border-left: 1px solid #54595d;
}

/* По умолчанию как для мобов */
.preview-image img {
    max-width: 100%;
    max-height: 190px;

    object-fit: contain;
    image-rendering: pixelated;
}

/* Биомы и структуры */
.preview-image.biome,
.preview-image.structure {
    padding: 0;
    background: transparent;
}

.preview-image.biome img,
.preview-image.structure img {
    width: 100%;
    height: 100%;

    max-width: none;
    max-height: none;

    object-fit: cover;
    image-rendering: auto;
}